<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Users</title>
</head>
<body>
<table>
    <tr class="row">
        <td>Name</td>
        <td>Login</td>
        <td>Enabled</td>
        <!--<td>Long link</td>-->
        <!--<td>Short link</td>-->
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.enabled}"></td>
        <!--<td th:text="${redirect.shortLink}"></td>-->
        <!--<td th:text="${redirect.longLink}"></td>-->
        <!--<td th:text="${redirect.counter}"></td>-->
    </tr>
</table>
<form th:action="@{/users}" method="post">
    Name: <input type="text" name="name"/>
    Login: <input type="text" name="login"/>
    Password: <input type="text" name="password"/>
    Short link: <input type="text" name="short-link"/>
    Long link: <input type="text" name="long-link"/>
    <input type="submit" value="Create"/>
</form>
</body>
</html>