.inline {
    display: inline-block;
    width: 30%;
    border-left: solid 1px;
    border-right: solid 1px;
    padding: 3px;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.row {
    width: 400px;
    display: inline-block;
}

.users-list {
    width: 400px;
    display: inline-block;
    margin-bottom:10px;
}