<web-app>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.EchoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.ListUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.SigninController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCityServlet</servlet-name>
        <servlet-class>ru.job4j.servlets.CreateCity</servlet-class>
    </servlet>
    <filter>
        <filter-name>AuthChecker</filter-name>
        <filter-class>ru.job4j.servlets.AuthChecker</filter-class>
    </filter>

    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/update_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCityServlet</servlet-name>
        <url-pattern>/add_city</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>AuthChecker</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
</web-app>